@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-text-color: rgb(255, 156, 2);
    --orange-underline-color: rgb(200, 121, 0);
    --black-color: #1B1B1B;
    --white-color: #f1f1f1;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    /*overflow: hidden;*/
    letter-spacing: 3px;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;
    overflow-x: hidden;
}

/* Heading */
a:not(.icon-btn) {
    text-decoration: none;
    color: #1B1B1B;
    font-weight: 800;
}

.nav-bar {
    text-align: center;
    padding: 1rem 0;
}

.nav-bar .nav-bar-li {
    display: inline;
    padding: 10px;
}

.nav-bar li a.nav-items{
    transition: all 0.3s ease;
}

.nav-bar li a.nav-items:hover {
    color: darkorange;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2.5%;
    position: fixed;
    background: #f1f1f1;
    z-index: 5;
}

.logo {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.active {
    border-bottom: 2px solid darkorange;
}

.icon-btn {
    color: #000000;
    padding: 0 5px;
}

.header-icons a{
    display: inline-block;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: var(--orange-underline-color);
    margin: 0 0.5rem;
    transition: .4s linear;
    position: relative;
}

.header-icons a:hover{
    transform: scale(.8);
}

.header-icons a::before, .header-icons a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.header-icons a:hover::before{
    border-left: 2px solid;
    border-right: 2px solid;
    transform: skewX(-20deg);
}

.header-icons a:hover::after{
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: skewY(20deg);
}

.container {
    width: 80%;
}

/* Cover Picture */
.cover-picture {
    background-image: url("pexels-thgusstavo-santana-1813272.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
/*    align-items start allows to avoid stretching the h1s across the whole width*/
    font-family: 'Source sans pro', sans-serif;
}

.cover-picture h1, h2, a {
    margin-left: 2rem;
}

h1.title {
    background-color: rgb(247, 247, 247);
    padding: 0.6rem;
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: 800;
    display: inline-block;
    margin-top: 0;
}

a.appointment-btn {
    margin-top: 0.4rem;
    background-color: rgb(255, 156, 2);
    border-bottom: rgb(200, 121, 0) 4px solid;
    display: inline-block;
    padding: 0.6rem;
    font-size: 1.3rem;
}

h2.headline {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.8rem;
    letter-spacing: 2px;
}

/* Slider */
.our-style {
    padding: 1rem 1.4rem;
    text-transform: uppercase;
    background-color: #1B1B1B;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 5px;
    /*margin-bottom: 1rem;*/
    margin-top: 3rem;
}

.our-style-container {
    text-align: center;
}

.glide-container {
    max-width: 90%;
}

.images.glide {
    margin: 1.5rem auto 0 auto;
}

.glide__slide img{
    /*object-fit: cover;*/
    width: 100%;
    height: 40vh;
}

.glide__slide{
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}

.glide__slide--active{
    opacity: 1;
    filter: none;
    transform: scale(1.1);
}

.glide__slides{
    overflow: visible;
}

/* Personal slider created*/

/*.slide-section {*/
/*    width: 60%;*/
/*    margin: 1rem auto auto auto;*/
/*    position: relative;*/
/*}*/

/*.slider {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.slide {*/
/*    display: none;*/
/*    opacity: 0;*/
/*    !*transition: all 0.4s ease-in-out;*!*/
/*}*/

/*.slide.current {*/
/*    display: inline-block;*/
/*    opacity: 1;*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    !*flex: 2;*!*/
/*}*/

/*.slide.current img{*/
/*    object-fit: cover;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: no-repeat;*/
/*}*/

/*!*.slide.right-side {*!*/
/*!*    margin-left: 0.5rem;*!*/
/*!*    display: inline-block;*!*/
/*!*    opacity: 0.6;*!*/
/*!*    width: 100%;*!*/
/*!*    height: 100%;*!*/
/*!*    !*flex: 1;*!*!*/
/*!*}*!*/

/*!*.slide.right-side img{*!*/
/*!*    object-fit: cover;*!*/
/*!*    width: 100%;*!*/
/*!*    height: 100%;*!*/
/*!*}*!*/

/*!*.slide.left-side {*!*/
/*!*    margin-left: 0.5rem;*!*/
/*!*    display: inline-block;*!*/
/*!*    opacity: 0.6;*!*/
/*!*    width: 800px;*!*/
/*!*    height: 800px;*!*/
/*!*    flex: 1;*!*/
/*!*}*!*/

/*!*.slide.left-side img{*!*/
/*!*    object-fit: cover;*!*/
/*!*    width: 300px;*!*/
/*!*    height: 800px;*!*/
/*!*}*!*/

.buttons #prev {
    position: absolute;
    top: 50%;
    margin-left: 15px;
}

.buttons #next {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 15px;
}

.buttons button {
    padding: 13px 15px;
    background: transparent;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    border: 3px white solid;
    border-radius: 50%;
}

.picture-nav {
    width: 60%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.picture-nav img{
    max-height: 100%;
    max-width:  100%;
    margin: 0 10px;
}

/* Maps API */
#map {
    width: 100%;
    height: 500px;
    position: relative;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

#map #info {
    display: none;
}

.directions {
    z-index: 2;
    position: absolute;
    display: inline-block;
    left: 3.5rem;
    top: 0.5em;
    color: #1B1B1B;
    background-color: var(--orange-text-color);
    border: none;
    border-bottom: var(--orange-underline-color) 4px solid;
    padding: 0.8rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.directions button {
    vertical-align: middle;
    color: #000000;
    cursor: pointer;
    outline: none;
}

#info {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background: #222222;
    z-index: 2;
}

/* Social Media */
.social-links {
    margin: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: var(--orange-text-color);
    margin: 0.5rem 1.2rem;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.btn i {
    line-height: 100px;
    transition: all 0.2s linear;
    color: #f1f1f1;
}

.btn:hover i {
    transform: scale(1.15);
    color: var(--orange-text-color);
}

.btn::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #f1f1f1;
    color: #000000;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: myAnimation 0.6s 1;
    top: -10%;
    left: -10%;
}

/* Social Media hover animation */
@keyframes myAnimation{
    0%{
        left: -110%;
        top: 90%;
    }50%{
         left: 10%;
         top: -30%;
     }100%{
          top: -10%;
          left: -10%;
      }
}

/* Information */
.container-maps {
    width: 90%;
    margin: 0 auto;
}

.contact-us-banner h1 {
    margin-left: 0;
    padding: 1rem;
    background-color: #1B1B1B;
    color: #ffffff;
    display: inline-block;
}

.information {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.right-panel {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.right-panel p, h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.right-panel h1 {
    font-size: 1.6rem;
}

.right-panel p {
    font-size: 1.2rem;
    color: #5E5E5E;
    font-weight: 800;
}

.p-border-bottom {
    color: rgb(168, 103, 2);
    border-bottom: rgb(255, 156, 2) solid 2px;
}

.fa-angle-down {
    color: rgb(168, 103, 2);
    vertical-align: middle;
    cursor: pointer;
}

.underlined-titles {
    border-bottom: rgb(226, 226, 226) solid 1px;
    padding-bottom: 0.7rem;
}

/* Footer */
footer {
    margin-top: 4rem;
}

footer .footer-wide {
    background: #ff8200;
    width: 100%;
}

footer .footer-menu {
    /*color: #f1f1f1;*/
    /*background: #1B1B1B;*/
    color: #1B1B1B;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem;
    text-align: center;
}

.footer {
    background: #1B1B1B;
}

.container-60 {
    max-width: 60%;
    margin: auto;
}

.footer-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

footer .copyright {
    padding: 1.5rem 0;
    /*background: var(--orange-text-color);*/
    /*color: #f1f1f1;*/
    background: #1B1B1B;
    color: #f1f1f1;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}


@media (max-width: 900px){

    .header {
        height: 30vh;
        position: relative;
    }

    a.nav-items {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .cover-picture {
        object-fit: cover;
        height: 50vh;
        max-width: 100vw;
        margin: auto;
        text-align: center;
        position: relative;
    }

    h2.headline {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        width: 80%;
        text-align: center;
        font-size: 1rem;
    }

    a.appointment-btn {
        bottom: 0;
        left: 20%;
        margin: auto;
        position: absolute;
    }

    h1.title {
        display: none;
    }

    h1.title {
        padding: 0.4rem;
        font-size: 1rem;
    }

    .information {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        justify-content: center;
        align-items: center;
    }

    #map {
        max-width: 100vw;
        margin: auto;
    }

    .right-panel {
        max-width: 80%;
        margin-bottom: 2rem;
    }

    ul.footer-menu {
        display: flex;
        flex-direction: column;
    }

    .footer-menu li {
        margin: 0.4rem 0;
    }

    .contact-us-banner {
        margin: auto;
    }

    .social-links {
        flex-wrap: wrap;
    }
}